body{
    background-color:#00468B;
    font-family: 'roboto',sans-serif;
    font-size: 30px;
    margin: 0px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#00468B ;
    height: 200px;
    margin-top: 0px;
    color: #d0deec;
    
}
h3{
   
    
    background-color:#00468B ;
    text-align: center;
    width: auto;
    color: #d0deec;
}
#buttons{
    display:flex;
    gap: 40px;
    justify-content:center;
    align-items: center;
    width: auto;
    padding: 100px;
    
    
 
}
#gameBoard{
    display: flex;
    background-color: #d0deec;
    height: 500px;
    align-items: center;
}
#rock, #paper, #scissor{
    width: 100px;
    height: 50px;
    background-color: #d0deec;
}
#reset{
    display:flex;
    justify-content: right;
    align-items: right;
    margin:auto;
    background-color: green;
}
#gameBoard{
    display:flex;
    justify-content: space-around;

}


#score{
    display: flex;
    justify-content: space-around;
    margin:auto;
    font-family: 'roboto',sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #00468B;
    
    
}
#userScore, #computerScore{
    width: 200px;
    text-align:center;
   
    border-width: 10px;
    border-color: #00468B;

}
#userBox, #computerBox{
    display: flex;
    width:200px;
    height:200px;
    border-color: #00468B;
    
   
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

#result{
    display: flex;;
    justify-content: center;
    align-items: center;
    width: auto;
    flex-direction: column;
    background-color: #d0deec;
    
}